.status-indicators {
  font-weight: bold;
  font-size: 1.2rem;
}

.status {
  margin-right: 1rem;
}

.status.Ativo {
  color: #198754; /* Bootstrap's text-success */
}

.status.Pausado {
  color: #ffc107; /* Bootstrap's text-warning */
}

.status.Finalizado {
  color: #dc3545; /* Bootstrap's text-danger */
}
